body {
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif;
}

.asterics {
  color: red;
}

.message {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 15px;
  width: 200px;
  margin: 0;
  text-align: center;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 60%;
  margin-left: 30px;
  padding: 10px;
}

form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px;
  border: 1px solid silver;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background: white;
  border: 1px solid silver;
  width: 100px;
  align-self: center;
}

.styled {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.styled thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled th,
.styled td {
  padding: 12px 15px;
}

.styled tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}